$azul-oscuro: #0B2739;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{

    &__links{
        background: $azul-oscuro;
        display: flex;
        justify-content: space-between;
        padding:10px 114px;
    }
    &__segments{
        display: flex;
        li{
            color: #fff;
            list-style: none;
            padding: 0 20px;
            border-left: 1px solid rgba(255, 255, 255, 0.214);
        }

    }
    &__interest{
        display: flex;
    }
}