
@font-face {
    font-family: 'Telefonica-regular';
    src: url(/assets/fonts/Telefonica-Regular.otf);
}
@font-face {
    font-family: 'Telefonica-bold';
    src: url(/assets/fonts/Telefonica-Bold.otf);
}
@font-face {
    font-family: 'Telefonica-ligth';
    src: url(/assets/fonts/Telefonica-Light.otf);
}
